  body {
            font-family: Arial, sans-serif;
            background-color: rgb(216, 230, 254);
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 80%;
            margin: 30px auto;
            background: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .container h1 {
            color:darkblue;
            text-align:center;
            font-size: 50px;
             font-weight:normal;
             margin-top: 0%;
            margin-bottom: 30px;
            font-family: 'Times New Roman';
        }
        .container h2 {
            color: indigo;
            text-align: left;
             font-size: 20px;
            margin-bottom: 20px;
        }
        h4{
			color: indigo;
            text-align: left;
            
		}
		#maintenance{
			width: 10%;
			
		}
        .form-group {
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .form-group1 input,.form-group1 select{
			margin-top: 12px ;
            margin-bottom: 20px;
             box-sizing: border-box;
               border-radius: 5px;
            border: 1px solid #ccc;
                padding: 8px;
                 margin-right: 9%;
        
             
        } 
        .form-group label,.form-group1 label {
      	      display: flex;
            font-weight:normal;
            color:maroon;
            margin-bottom: 5px;
        }
        .form-group input,
        .form-group select {
            width: 100%;
          padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        .button1 input[type="submit"] {
	        border-radius: 1px;
			border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            background-color: #00008b;
            color: white;
            cursor: pointer;
              padding: 8px;
              width: 100px;
             
        }
        .button1{
			display: flex;
			margin-top: 15px;
		}
		.bt1{
			margin-left: 40%;
		
		}
        .form-group1 {
   			 display: flex;
   		}
	    .column1 label {
	   		margin-bottom:-2%;
		}
		.column {
		    flex: 1;
		    margin-right: 10px; /* Optional: Add some spacing between columns */
		}
		
		.column1 select{
			margin-top: 10px;
			width:100%;
			margin-bottom: 20px;
			
		}
		select {
		    width: 100%;
		}
		.column2{
			margin-right: 30px;
		}
		.column4 label{
			margin-bottom: 22px;
		}
		.column2 select{
			margin-right: 250px;
		}
		.column3 select{
			margin-right: 34px;
			
		}
		.column4 {
			margin-left: 34px;
		}
		.column4 select{
			
			margin-right: 250px;
		}
		.form-group3
		{
			display:flex;
			font-weight:normal;
			flex-direction: row;

		}
        .form-group3 input
        {
			border: 1px solid #ccc;
			padding: 8px;
			box-sizing: border-box;
			border-radius: 5px;
		}
        .form-group3 label{
			margin-bottom: 5px;
			color:maroon;
		}
		.date,
		.starttime,
		.endtime 
		{
	    	display: flex;
	    	flex-direction: column;
	    	margin-right: 20px;
	    	margin-bottom: 2%;
	    	width: 25%;
		}
		.customerimpactsol select
		{
			width: 50%;
		}
		.select2-container--default .select2-selection__placeholder .select2-selection__clear {
    display: none;
}
		