<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Multi-select Dropdown with Select2</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="./css/random.css"/>


</head>
<body>

<div class="container">
    <div class="row">
        <h4>Multi-select Dropdown</h4>
        <select class="js-select2" multiple="multiple">
            <option value="O1">Option 1</option>
            <option value="O2">Option 2</option>
            <option value="O3">Option 3</option>
            <option value="O4">Option 4</option>
            <option value="O5">Option 5</option>
            <option value="O6">Option 6</option>
            <option value="O7">Option 7</option>
        </select>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script src="./js/random.js"></script>


</body>
</html>
